.favorite {
  padding-bottom: 50px;
  .main-title {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .movie-show-list {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .movie-show-card {
      width: 30% !important;
      &:nth-child(3) {
        margin-top: 0px;
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .movie-show-card {
    &:nth-child(3) {
      margin-top: 20px !important;
    }
  }
}
