@import '../../styles/variables.scss';

.tabs-filters-page {
  border-right: 2px solid grey;
  .tabs-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-row {
      width: 80%;
      margin: 0 auto;
    }
    button {
      background-color: $app-header-color;
      color: white;
      padding: 5px 20px;
      &:hover {
        color: black !important;
        background-color: transparent !important;
      }
    }
    .tabs {
      margin-top: 50px;
      justify-content: space-evenly;
      width: 80%;
      display: flex;
      .secondary-tab {
        opacity: 0.7;
      }
      height: 40px;
    }
    .filters {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      .title {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 35px;
        color: #333333;
        text-align: left;
      }
      .flex-row {
        margin-top: 10px;
      }
      .selection {
        margin-top: 0px;
      }
      margin-top: 50px;
    }
    .select {
      background-color: $app-header-color;
      color: white;
      margin-top: 50px !important;
      font-size: 17px;
      svg {
        font-size: 20px;
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .tabs-filters {
    border: none;
    .filters {
      div {
        width: 100%;
      }
    }
  }
}
